---
const footerLinksLeft = [
    { name: 'Sobre Google', url: '#' },
    { name: 'Publicidad', url: '#' },
    { name: 'Negocios', url: '#' },
    { name: 'Cómo funciona la Búsqueda', url: '#' },
];

const footerLinksRight = [
    { name: 'Privacidad', url: '#' },
    { name: 'Condiciones', url: '#' },
    { name: 'Preferencias', url: '#' },
];
---

<footer>
    <ul class="footer-left">
        {footerLinksLeft.map(link => (
            <li>
                <a href={link.url}>{link.name}</a>
            </li>
        ))}
    </ul>
    <ul class="footer-right">
        {footerLinksRight.map(link => (
            <li>
                <a href={link.url}>{link.name}</a>
            </li>
        ))}
    </ul>
</footer>