<section class="main-logo">
    <img src="/google-wordmark.svg" alt="google logo">
</section>
<section class="main-input">
    <div class="main-input-container">
        <span class="search-icon" id="search-icon"></span>
        <input type="text" id="search-input">
        <a class="micro-icon" id="micro-icon" href="#"></a>
    </div>
    <div id="timer" class="timer">Escuchando: <span id="seconds">0</span> segundos</div>
</section>
<section class="main-buttons">
    <div>
        <button id="search-button">
            Buscar con Google
        </button>
    </div>
    <div>
        <button>
            Me siento con suerte
        </button>
    </div>
</section>