<section class="main-logo">
    <img src="/google-wordmark.svg" alt="google logo">
</section>
<section class="main-input">
    <div class="main-input-container">
        <span class="search-icon"></span>
        <input type="text">
        <a class="micro-icon" href=""></a>
    </div>
</section>
<section class="main-buttons">
    <div>
        <button>
            Buscar con Google
        </button>
    </div>
    <div>
        <button>
            Me siento con suerte
        </button>
    </div>
</section>