---
const links = [
    { name: 'Gmail', url: 'https://mail.google.com/mail/&ogbl' },
    { name: 'Imágenes', url: 'https://www.google.com.pe/imghp?hl=es-419&ogbl' },
    { name: 'Icono', url: 'https://www.google.com.pe/intl/es-419/about/products' },
    { name: 'Foto', url: 'https://www.google.com' },
]
---

<nav>
    <ul class="nav-right-section">
        <li>
            <a href="">Gmail</a>
        </li>
        <li>
            <a href="">Imágenes</a>
        </li>
        <li class="menu-icon">
            <a href=""></a>
        </li>
        <li>
            <a href="">
                <img src="https://lh3.googleusercontent.com/ogw/AF2bZyiwVynfFskaXbfK4kg6AQsF0aqES4XsefoCNv0xt6b6shM=s32-c-mo" alt="Foto Perfil">
            </a>
        </li>
    </ul>
</nav>