---
const links = [
    { name: 'Gmail', url: 'https://mail.google.com/mail/&ogbl' },
    { name: 'Imágenes', url: 'https://www.google.com.pe/imghp?hl=es-419&ogbl' },
    { name: '', url: 'https://www.google.com.pe/intl/es-419/about/products' },
    { name: 'Foto', url: 'https://lh3.googleusercontent.com/ogw/AF2bZyiwVynfFskaXbfK4kg6AQsF0aqES4XsefoCNv0xt6b6shM=s32-c-mo' },
]
---

<nav>
    <ul class="nav-right-section">
        {links.map((link, index) => (
            <li class={index === 2 ? 'menu-icon' : ''}>
                <a href={link.url}>
                    {index === 3 ? <img src={link.url} alt="Foto Perfil" /> : link.name}
                </a>
            </li>
        ))}
    </ul>
</nav>