<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/google.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="title" content="Google" />
		<meta name="description" content="Este es un proyecto de clonar la pagina de inicio del navegador Google construido con Astro y dando funcionalidades con JavaScript." />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://astro-clon-google.pages.dev/" />
		<meta property="og:title" content="Google" />
		<meta property="og:description" content="Este es un proyecto de clonar la pagina de inicio del navegador Google construido con Astro y dando funcionalidades con JavaScript." />
		<meta property="og:image" content="https://i.imgur.com/Bl8Bitn.jpeg" />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://astro-clon-google.pages.dev/" />
		<meta property="twitter:title" content="Google" />
		<meta property="twitter:description" content="Este es un proyecto de clonar la pagina de inicio del navegador Google construido con Astro y dando funcionalidades con JavaScript." />
		<meta property="twitter:image" content="https://i.imgur.com/Bl8Bitn.jpeg" />
		<title>Clon Google by GaboGabito05</title>
	</head>
	<body>
		<slot />
		<script src="../assets/js/index.js"></script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
